.logo {
  color: white;
  font-size: larger;
  line-height: 80px;
  font-weight: bold;
  text-align: center;
}
.header {
  display: flex;
  min-width: min-content;
  align-items: center;
  margin: 0px 30px 20px 30px;
  position: sticky;
  top: 5px;
}
body {
  background-image: url("./indeximg/yojana.jpg");
  background-size: cover;
}
#img {
  align-items: center;
  border-radius: 40%;
  margin: 4px;
}
.title {
  border: 0.1rem solid rgb(207, 206, 206);
  border-width: 5px;
  color:white;
  background-color: rgba(6, 6, 6, 0.1);
  display: flex;
  justify-content: center;
  padding:.5rem;
  box-shadow:  10px 5px 5px rgb(167, 228, 242);
}
a{
  color: inherit;

}
.item2 {
  text-decoration-color: white;
  flex-grow: 1;
  font-size: 2rem;
}
.item3 {
border:1px solid white ;
backdrop-filter:brightness(60%);
    backdrop-filter:blur(15px);
  padding: 5px;
  border-radius: 10%;
  font-size: 20px;
  margin: 20px;
  color: white;
  box-shadow:  10px 5px 5px rgb(167, 228, 242);
}
.item4 {
  /* box-shadow: 10px 5px 5px rgb(169, 144, 205); */
  box-shadow:  10px 5px 5px rgb(167, 228, 242);
  font-size: larger;
  border: 0.1rem solid;
  padding: 0.5rem;
  color:white;
  background-color: rgba(6, 6, 6, 0.1);
  
}
ol{
  color: white;
}
li{
  font-size: larger;
  font-weight:bolder;
}
.bolder{
  font-size: larger;
  font-weight:bolder;
}