body{
    background-image: url(loginback.jpg);
    
    background-position: center; 
    background-size: cover;
    position:relative;
}
.header{
    
    display: flex;
    min-width: min-content;
    align-items: center;
    margin: 0px 30px 20px 30px;
    position: sticky;
    top: 5px;
    justify-items: center;
}

.item2{
    color: rgb(67, 25, 25);
    flex-grow: 1;
    font-size: 2rem;
}
.logincontainer{
    border: none 0px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    flex-wrap: wrap;
}
.loginform{
    background-color:rgb(202, 197, 197);
    font-size: 2rem;
    padding: 0% 4% 4% 4%;
    border-radius: 20%;
    
}
.newinfo{
     background-color: rgb(202, 197, 197); 
    font-size: 2rem;
    padding: 0% 4% 4% 4%;
    border-radius: 20%;
}