.header{
    border: 3px double darkgreen;
    display: flex;
    min-width: min-content;
    align-items: center;
    margin: 0px 30px 20px 30px;
    position: sticky;
    top: 5px;
    justify-items: center;
}

.item2{
    background-color: indianred;
    flex-grow: 1;
    font-size: 2rem;
}
.logincontainer{
    border: none 0px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    flex-wrap: wrap;
}
.loginheader{

}
.loginform{
    background-color: cyan;
    font-size: 2rem;
    padding: 0% 4% 4% 4%;
    border-radius: 20%;
}
.newinfo{
    background-color: lightgreen;
    font-size: 2rem;
    padding: 0% 4% 4% 4%;
    border-radius: 20%;
}